@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 5em;
}




html,body{
     height:100%;
}
#wrap{
     width: 100%;
     position: relative;
     height:auto !important; /*IE6対策*/
     height: 100%; /*IE6対策*/
     min-height: 100%;
}
#contents{
     padding-bottom:10px; /*フッターの高さと同じ*/
}
footer{
    
     position:absolute;
  }
.white {
    background-color: rgba(169, 156, 156, 0)!important;
}
.device-mockup.iphone6_plus.portrait.white>.device, .device-mockup.iphone6_plus.white>.device {
    background-image: url(/assets/iphone_6_plus_white_port.png);
}
.device-mockup.iphone6_plus, .device-mockup.iphone6_plus.portrait {
    padding-bottom: 201.76%;
}
.device-mockup {
    position: relative;
    width: 100%;
    padding-bottom: 61.775701%;
}
.device-mockup>.device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(macbook/macbook.png);
}
.device-mockup.iphone6_plus.portrait>.device>.screen, .device-mockup.iphone6_plus>.device>.screen {
    top: 11.58%;
    bottom: 11.58%;
    left: 5.97%;
    right: 5.97%;
}
.device-mockup>.device>.screen {
    position: absolute;
    top: 11.0438729%;
    bottom: 14.6747352%;
    left: 13.364486%;
    right: 13.364486%;
    overflow: hidden;
}
.device-mockup.iphone6_plus.portrait>.device>.button, .device-mockup.iphone6_plus>.device>.button {
    display: block;
    top: 89.9%;
    bottom: 3.2%;
    left: 43%;
    right: 43%;
}
.device-mockup>.device>.button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    cursor: pointer;
}
header .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
}

.footer,
.push {
  height: 50px;
}
footer{
    width: 100%;
}
/*
sign up
//////////////////////////////////////////////////////*/

.hr-dark {
    background-color: #666;
    height: .5px;
}
@media only screen and (max-width: 768px){
.h2-responsive, .section-blog-fw h2 {
    font-size: 145%;
}
}
.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff;
}

@media (max-width: 992px){
.description {
    padding-top: 7rem;
    text-align: center;
}
}
.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
}
.btn-comm {
    background-color: #30CFC0;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.view {
    background: url(http://mdbootstrap.com/images/regular/city/img%20(25).jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 768px){
.full-bg-img, .view {
    height: auto;
    position: relative;
}
}
.card-block {
    padding: 1.25rem;
}
.btn.btn-lg {
    font-size: .9rem;
    padding: 1rem 2.4rem;
}
.md-form {
    position: relative;
}
.md-form, .md-form .btn {
    margin-bottom: 1.5rem;
}
.md-form .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
    color: black;
}
.md-form .prefix~input, .md-form .prefix~textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}
.md-form .prefix~label {
    margin-left: 3rem;
}
.md-form label {
    color: #757575;
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}
.field_with_errors label {
    color: #757575;
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}
.field_with_errors .prefix~input, .field_with_errors .prefix~textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}
.field_with_errors .prefix~label {
    margin-left: 3rem;
}
.md-form label.active{
    font-size:  .8em;
    transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    height: 2.1rem !important;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.text-xs-center {
    text-align: center!important;
}
.btn-fb {
    background-color: #3B5998 !important;
    color: #fff!important;
}
.btn-tw {
    background-color: #55ACEE !important;
}
.card-block h3{
    color: #555;
    font-size: 180%;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
#error_explanation h2{
    color: #e28093;
    font-size: 150%;
}
.btn-sign-up{
    background: #eaeaea;
    color: #6b6b6b !important;
}
.waves-input-wrapper .waves-button-input{
    font-style: initial !important;
    background: none !important;
    border-style: none !important;
    font-family: Lato,Helvetica,Arial,sans-serif !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 1rem !important;
    margin-left: 0;
}
.navbar .nav-item .dropdown-menu.dropdown a {
    color: #212121;
}
.dropdown .dropdown-menu .dropdown-item {
    padding: 1rem;
    margin-left: 0;
}
.navbar .dropdown-menu a {
    font-size: .9375rem;
    font-weight: 300;
    padding: 10px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    color: #292b2c;
    text-align: inherit;
    background: 0 0;
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
}
.profile-0 {
    width: 28px;
    height: 28px;
}

.profile-1 {
    width: 50px;
    height: 50px;
}

.profile-2{
    width: 100px;
    height: 100px;
}

/*///////////////////////////////
プロフィールページ
/////////////////////////////////
*/


#fh5co-header,
.fh5co-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 100%;
}
#fh5co-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2, #fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;

}
#fh5co-header .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  padding: 4px 15px;
  position: relative;
}
#fh5co-header .display-tc h1 span:before,
.fh5co-cover .display-tc h1 span:before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-left: -30px;
}
#fh5co-header .display-tc h1 span:after,
.fh5co-cover .display-tc h1 span:after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #fh5co-header .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #fh5co-header .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#fh5co-header .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}
#fh5co-header .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}
.profile p{

}

.vertification-checked:before{
  content: "\f00c";
  font-family: FontAwesome;
  position: relative;
  z-index: 100;
  top:2px;
  font-size: 1.55em;
  text-align: center;
  width: 1.25em;
  color: #00d1c1;
}
/*
/////////////////////////////////////
listings
///////////////////////////////////*/


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sidebar-nav .navbar-default .navbar-nav > li > a {
    color: #222;
    font-size: 16px;
}

.sidebar-nav .navbar-default .navbar-nav > li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff
}

.sidebar-nav .navbar-default .navbar-nav > li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar-nav .navbar-toggle {
    background-color: #999fa2;
}
.sidebar-nav .navbar-toggle:focus{
    background-color: #999fa2 !important;
}
.sidebar-nav .navbar-default .navbar-nav > li > a:hover{
        color: #a5a5a5 !important;
}

/*// dropzone.jsのcss*/
@media (max-width: 768px){
  .dz-preview, .dz-processing, .dz-image-preview, .dz-error, .dz-complete {
      margin: 10px 0!important;
      width: 100%;
  }
  .dropzone .dz-preview .dz-image {
    width: 100%;   
  }
  .dropzone .dz-preview .dz-image img {
    height: 120px;    
  }
}

.dropzone .dz-preview .dz-image img{
  width: 100%;
  height: 100%;
}

.dropzone.dz-started .dz-message {
  display: block;
}
.dz-message h3,.dz-message{
    color: #696969;    
    font-size: 15px;
}

